html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    color: #333;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:hover, a:focus {
    color: #23527c;
    text-decoration: underline;
}

#osdContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333333;
    overflow: hidden;
}

#annotationBox {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.85);
    z-index: 100;
    padding: 15px;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    width: 30%;
    min-width: 400px;
    max-width: 700px;
    max-height: 98%;
    box-sizing: border-box;
    border: 1px solid #999;
}

#annotationHeader {
    margin-bottom: 15px;
}

#annotationTitle {
    font-size: 16px;
    font-weight: bold;
}

#controls {
    margin-left: 15px;
    float: right;
    cursor: pointer;
}

#annotationText {
    clear: both;
    overflow: auto;
    flex: 1 2 auto;
}

#annotationMedia {
    margin-top: 15px;
}

#annotationMediaDescription {
    margin-top: 2px;
    font-size: 13px;
}

#annotationMedia img {
    width: 100%;
}

.gyreHighlight {
    border: 3px solid #ffff00;
    border-radius: 10px;
}

.hidden {
    display: none;
}